


html{
  font-family: Arial, Helvetica, sans-serif;  
}

a {
  color:black;
  text-decoration:none;
}

button {
  width: 120px;
}

select {
  width: 150px;
}

.input_prix {
  width: 150px;
}

input {
  width: 50px;
}

.critere {
  display: inline-block;
}

p.critere {
  width: 120px;
  text-align: left;
}

.oneline_res {
  display: inline-block;
  padding-left: 10px;
}

.align_left {
  text-align: left;
  margin-left: 50px;
}

.reinitialiser {
  width: 200px;
}

body {
  background-image: url(image/background.png);
}

fieldset {
  text-align:center;
  margin-top:50px;
  margin-left: auto;
  margin-right: auto;
  background-color: #eceaea ;
  border: none;
  width: 50%;
}

header{
  background-color: #3b3b3b;
  
}

.justifier{
  text-align: justify;
}

.menu{
  position:absolute;
  margin-top:none;
  object-position: right;
  width: 18%;
  display:inline-table;
  background-color:#a2a2a2;
  text-align: center;
  height: 100%;
}

.menu2{
  position:absolute;
  margin: top 20px;;
  object-position: right;
  width: 18%;
  display:inline-table;
  text-align: center;
  height: 100%;
}

.fit-picture {
 background-color: #3b3b3b;
  text-align: center;
}


.container{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

.left{
  align-self:flex-start;
}
